.nav{
    color: black;
    font-size:15px;
    position:relative;
    left: 180px;
    top:-40px;
    justify-items: space-between;
    gap:30px;
    text-decoration: none;
    
   
}
#logo{
    margin-left: 30px;
    top:10px;
}
#parent{
    position: relative;
    top:10px;
}
#child{
    position: absolute;
    top: 150px;
    left: 60px;


}
            
#links{
    display:flex;
    gap:15px;
    
}
#icons{
    display: flex;
    gap:30px;
    position: relative;
    left:100px'

}